<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micerlabs.mapper.ImageMapper">
    <resultMap id="BaseResultMap" type="com.micerlabs.pojo.Image">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="time" jdbcType="TIMESTAMP" property="time" />
        <result column="path" jdbcType="VARCHAR" property="path" />
        <result column="active" jdbcType="INTEGER" property="active" />
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `time`, `path`, active
    </sql>
    <insert id="insertImage" parameterType="com.micerlabs.pojo.Image">
        insert into image (id, `time`, `path`, active) values(#{id}, #{time}, #{path}, #{active})
    </insert>
    <select id="getLatestNImages" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from image
        order by `time` desc limit #{n}
    </select>
    <select id="getAllImages" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from image
    </select>
</mapper>